[package]
name = "log4rs"
version = "0.2.1"
authors = ["Steven Fackler <sfackler@gmail.com>"]
description = "A highly configurable multi-output logging implementation for the `log` facade"
license = "MIT"
repository = "https://github.com/sfackler/log4rs"
documentation = "https://sfackler.github.io/log4rs/doc/log4rs"

[dependencies]
toml = "0.1"
time = "0.1"
log = "0.3"

[profile.test]
debug = false
